/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
public
/.fleet
/.idea
/.vscode
/Applications/XAMPP/xamppfiles/htdocs/lifo/public/doc
# /Applications/XAMPP/xamppfiles/htdocs/lifo/app/Http/Controllers/Company/IssuingController.php
# /Applications/XAMPP/xamppfiles/htdocs/lifo/app/Http/Controllers/Office/IssuingController.php
app/Http/Controllers/Company/IssuingController.php
/Applications/XAMPP/xamppfiles/htdocs/lifo/app/Services/LifoApiService.php
index.php
composer.lock
.gitignore
composer.lock

/Applications/XAMPP/xamppfiles/htdocs/lifopro/app/Services/LifoApiService.php